### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [15]:
player_df = purchase_data.drop_duplicates(subset=['SN'])
player_count = len(player_df)
display("Number of Players: " + str(player_count))

'Number of Players: 576'

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
print("PURCHASING ANALYSIS")
item_df = purchase_data.drop_duplicates(subset=['Item ID'])
unique_items = len(item_df)
print("Unique Items: " + str(unique_items))

average_price = round(purchase_data['Price'].mean(), 2)
print("Average Purchase Price: " + str(average_price))

total_purchases = len(purchase_data)
print("Total Number of Purchases: " + str(total_purchases))

total_revenue = round(sum(purchase_data['Price']), 2)
print("Total Revenue: " + str(total_revenue))

PURCHASING ANALYSIS
Unique Items: 179
Average Purchase Price: 3.05
Total Number of Purchases: 780
Total Revenue: 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
gender_list = []
player_count_list = []
player_percentage_list = []


gender = "Male"
gender_list.append(gender)
male_players_df = player_df[player_df['Gender'] == 'Male']
male_player_count = len(male_players_df)
male_player_percentage = round(((male_player_count / player_count) * 100), 2)
player_count_list.append(male_player_count)
player_percentage_list.append(str(male_player_percentage)+"%")

gender = "Female"
gender_list.append(gender)
female_players_df = player_df[player_df['Gender'] == 'Female']
female_player_count = len(female_players_df)
female_player_percentage = round(((female_player_count / player_count) * 100), 2)
player_count_list.append(female_player_count)
player_percentage_list.append(str(female_player_percentage)+"%")

gender = "Other"
gender_list.append(gender)
other_players_df = player_df[player_df['Gender'] == 'Other / Non-Disclosed']
other_player_count = len(other_players_df)
other_player_percentage = round(((other_player_count / player_count) * 100), 2)
player_count_list.append(other_player_count)
player_percentage_list.append(str(other_player_percentage)+"%")


columns = ["Gender", "Player_Count", "Player_Percentage"]
gender_demographics_df = pd.DataFrame(list(zip(gender_list, player_count_list,
                                                 player_percentage_list)), columns = columns)


display(gender_demographics_df)

   Gender  Player_Count Player_Percentage
0    Male           484            84.03%
1  Female            81            14.06%
2   Other            11             1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
gender_list = []
purchase_count_list = []
average_purchase_list = []
total_purchase_list = []
average_per_person_list = []


gender = "Male"
gender_list.append(gender)
male_purchase_df = purchase_data[purchase_data['Gender'] == 'Male']
male_dup_players_dropped = male_purchase_df.drop_duplicates(subset=['SN'])
male_purchase_count = len(male_dup_players_dropped)
purchase_count_list.append(male_purchase_count)
male_average_purchase = round(male_purchase_df['Price'].mean(), 2)
average_purchase_list.append(male_average_purchase)
male_total_purchase = round(sum(male_purchase_df['Price']), 2)
total_purchase_list.append(male_total_purchase)
male_total_per = round((male_total_purchase / male_player_count), 2)
average_per_person_list.append(male_total_per)

gender = "Female"
gender_list.append(gender)
female_purchase_df = purchase_data[purchase_data['Gender'] == 'Female']
female_dup_players_dropped = female_purchase_df.drop_duplicates(subset=['SN'])
female_purchase_count = len(female_dup_players_dropped)
purchase_count_list.append(female_purchase_count)
female_average_purchase = round(female_purchase_df['Price'].mean(), 2)
average_purchase_list.append(female_average_purchase)
female_total_purchase = round(sum(female_purchase_df['Price']), 2)
total_purchase_list.append(female_total_purchase)
female_total_per = round((female_total_purchase / female_player_count), 2)
average_per_person_list.append(female_total_per)


gender = "Other"
gender_list.append(gender)
other_purchase_df = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']
other_dup_players_dropped = other_purchase_df.drop_duplicates(subset=['SN'])
other_purchase_count = len(other_dup_players_dropped)
purchase_count_list.append(other_purchase_count)
other_average_purchase = round(other_purchase_df['Price'].mean(), 2)
average_purchase_list.append(other_average_purchase)
other_total_purchase = round(sum(other_purchase_df['Price']), 2)
total_purchase_list.append(other_total_purchase)
other_total_per = round((other_total_purchase / other_player_count), 2)
average_per_person_list.append(other_total_per)


columns = ["Gender", "Purchase_Count", "Average_Purchase", "Total_Purchase", "Average_Purchase"]
gender_demographics_df = pd.DataFrame(list(zip(gender_list, purchase_count_list,
                                                 average_purchase_list,total_purchase_list,
                                                 average_per_person_list)), columns = columns)

display(gender_demographics_df)

   Gender  Purchase_Count  Average_Purchase  Total_Purchase  Average_Purchase
0    Male             484              3.02         1967.64              4.07
1  Female              81              3.20          361.94              4.47
2   Other              11              3.35           50.19              4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
# Establish the bins 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_demos["AgeRanges"] = pd.cut(player_df["Age"], age_bins, labels=group_names)

age_totals = player_demos["AgeRanges"].value_counts()
age_percents = age_totals / player_count * 100
age_demographics = pd.DataFrame({"Total Count": age_totals, "Percentage of Players": age_percents})
display(age_demographics)

       Total Count  Percentage of Players
20-24          258              44.791667
15-19          107              18.576389
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
10-14           22               3.819444
<10             17               2.951389
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
# Establish the bins 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["AgeRanges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)


group_list = []
purchase_count_list = []
purchase_price_list = []
total_per_list = []

for group in group_names:
    age_df = purchase_data[purchase_data["AgeRanges"] == str(group)]
    purchase_count = len(age_df)
    purchase_price = round(age_df["Price"].mean(),2)
    total_purchase = round(age_df["Price"].sum(),2)
    
    
    group_list.append(str(group))
    purchase_count_list.append(purchase_count)
    purchase_price_list.append(purchase_price)
    total_per_list.append(total_purchase)

columns = ["Age Range", "Purchase_Count", "Average_Purchase", "Total_Purchase"]
age_demographics_df = pd.DataFrame(list(zip(group_list, purchase_count_list,
                                                 purchase_price_list,total_purchase_list)), columns = columns)
display(age_demographics_df)

  Age Range  Purchase_Count  Average_Purchase  Total_Purchase
0       <10              23              3.35           18.96
1     10-14              28              2.96           15.45
2     15-19             136              3.04           13.83
3     20-24             365              3.05           13.62
4     25-29             101              2.90           13.10

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
player_list = []
purchase_list = []
for x in range(len(player_df)):
    player = player_df["SN"].iat[x]
    player_purchase_df = purchase_data[purchase_data["SN"] == str(player)]
    player_purchase_total = round(sum(player_purchase_df["Price"]),2)
    player_list.append(player)
    purchase_list.append(player_purchase_total)

columns = ["Player", "Purchase_Total"]
player_purchase_total_df = pd.DataFrame(list(zip(player_list, purchase_list)), columns = columns)
player_purchase_total_df = player_purchase_total_df.sort_values(['Purchase_Total'], ascending=False)
top_spenders_df = player_purchase_total_df[:5]


player_list = []
purchase_count_list = []
average_purchase_list = []
total_purchase_list = []

for y in range(len(top_spenders_df)):
    player = top_spenders_df["Player"].iat[y]
    player_list.append(player)
    player_purchase_df = purchase_data[purchase_data["SN"] == str(player)]
    purchase_count = len(player_purchase_df)
    purchase_count_list.append(purchase_count)
    average_purchase = player_purchase_df["Price"].mean()
    average_purchase_list.append(average_purchase)
    total_purchase = sum(player_purchase_df["Price"])
    total_purchase_list.append(total_purchase)
    
    
columns = ["Player", "Purchase_Count", "Average_Purchse", "Total_Spent"]
player_purchase_total_df = pd.DataFrame(list(zip(player_list, purchase_count_list,
                                                 average_purchase_list, total_purchase_list)), columns = columns)
player_purchase_total_df = player_purchase_total_df.sort_values(['Total_Spent'], ascending=False)
top_spenders_df = player_purchase_total_df[:5]

display(top_spenders_df)

        Player  Purchase_Count  Average_Purchse  Total_Spent
0    Lisosia93               5         3.792000        18.96
1  Idastidru52               4         3.862500        15.45
2   Chamjask73               3         4.610000        13.83
3       Iral74               4         3.405000        13.62
4  Iskadarya95               3         4.366667        13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [50]:
item_id_list = []
item_total_list = []
for z in range(len(item_df)):
    item_id = item_df["Item ID"].iat[z]
    item_id_list.append(item_id)
    item_df_filtered = purchase_data[purchase_data["Item ID"] == item_id]
    item_total = len(item_df_filtered)
    item_total_list.append(item_total)


columns = ["Item_ID", "Item_Total"]
item_purchase_total_df = pd.DataFrame(list(zip(item_id_list, item_total_list)), columns = columns)
item_purchase_total_df = item_purchase_total_df.sort_values(['Item_Total'], ascending=False)
top_items_df = item_purchase_total_df[:5]



item_id_list = []
item_name_list = []
purchase_count_list = []
item_price_list = []
item_total_list = []
for a in range(len(top_items_df)):
    item_id = top_items_df["Item_ID"].iat[a]
    item_id_list.append(str(item_id))
    item_df_filtered = purchase_data[purchase_data["Item ID"] == item_id]
    item_name = str(item_df_filtered["Item Name"].iat[0])
    item_name_list.append(item_name)
    purchase_count = len(item_df_filtered)
    purchase_count_list.append(str(purchase_count))
    item_price = item_df_filtered["Price"].mode()
    item_price_list.append(item_price)
    item_total = round(top_items_df["Item_Total"].iat[a], 2)
    item_total_list.append(item_total)
    
columns = ["Item_ID", "Item_Name", "Purchase_Count", "Item_Price", "Total_Purchase_Value"]
item_purchase_total_df = pd.DataFrame(list(zip(item_id_list, item_name_list,
                                               purchase_count_list, item_price_list,
                                               item_total_list)), columns = columns)

display(item_purchase_total_df)

,Item_ID,Item_Name,Purchase_Count,Item_Price,Total_Purchase_Value
0,92,Final Critic,13,0 4.88 dtype: float64,13
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,0 4.23 dtype: float64,12
2,108,"Extraction, Quickblade Of Trembling Hands",9,0 3.53 dtype: float64,9
3,82,Nirvana,9,0 4.9 dtype: float64,9
4,145,Fiery Glass Crusader,9,0 4.58 dtype: float64,9

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [51]:
item_id_list = []
item_total_list = []
for z in range(len(item_df)):
    item_id = item_df["Item ID"].iat[z]
    item_id_list.append(item_id)
    item_df_filtered = purchase_data[purchase_data["Item ID"] == item_id]
    item_total = sum(item_df_filtered["Price"])
    item_total_list.append(item_total)


columns = ["Item_ID", "Item_Total"]
item_purchase_total_df = pd.DataFrame(list(zip(item_id_list, item_total_list)), columns = columns)
item_purchase_total_df = item_purchase_total_df.sort_values(['Item_Total'], ascending=False)
top_items_df = item_purchase_total_df[:5]


item_id_list = []
item_name_list = []
purchase_count_list = []
item_price_list = []
item_total_list = []
for a in range(len(top_items_df)):
    item_id = top_items_df["Item_ID"].iat[a]
    item_id_list.append(str(item_id))
    item_df_filtered = purchase_data[purchase_data["Item ID"] == item_id]
    item_name = str(item_df_filtered["Item Name"].iat[0])
    item_name_list.append(item_name)
    purchase_count = len(item_df_filtered)
    purchase_count_list.append(str(purchase_count))
    item_price = item_df_filtered["Price"].mode()
    item_price_list.append(item_price)
    item_total = round(top_items_df["Item_Total"].iat[a], 2)
    item_total_list.append(item_total)
    
columns = ["Item_ID", "Item_Name", "Purchase_Count", "Item_Price", "Total_Purchase_Value"]
item_purchase_total_df = pd.DataFrame(list(zip(item_id_list, item_name_list,
                                               purchase_count_list, item_price_list,
                                               item_total_list)), columns = columns)

display(item_purchase_total_df)

,Item_ID,Item_Name,Purchase_Count,Item_Price,Total_Purchase_Value
0,92,Final Critic,13,0 4.88 dtype: float64,59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,0 4.23 dtype: float64,50.76
2,82,Nirvana,9,0 4.9 dtype: float64,44.10
3,145,Fiery Glass Crusader,9,0 4.58 dtype: float64,41.22
4,103,Singed Scalpel,8,0 4.35 dtype: float64,34.80

In [52]:
analysis = ("After observing the data I have discovered a few trends:\n\n 1) An overwhelming majority (84%) of players are male\n 2) Most of the purchases are made by people between the ages of 20-24\n 3) The most popular items are also the most profitable  ")
display(analysis)

'After observing the data I have discovered a few trends:\n\n 1) An overwhelming majority (84%) of players are male\n 2) Most of the purchases are made by people between the ages of 20-24\n 3) The most popular items are also the most profitable  '